// *****************************************************************************
// * NORTH LEITH MILL
// *****************************************************************************
// *
// * @name: _colors.scss
// *
// *****************************************************************************

$color-map-bg: rgba(0, 0, 0, .1 );
$color-map-border: rgba(0, 0, 0, .8 );

$color-button-bg: rgba(0, 0, 255, .1 );
$color-button-fg: rgba(0, 0, 0, .9 );

$color-fade-text: rgba(0, 0, 0, .3 );
$color-fade-text-hover: rgba(0, 0, 0, .5 );
